@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  color: #ececec;
  background-color: #272727;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.hot{
  /* higher than 25 C and clear*/
  /* background-image: linear-gradient(
    to bottom,
    rgb(145, 23, 76),
    rgb(155, 24, 73),
    rgb(165, 25, 70),
    rgb(174, 25, 67),
    rgb(184, 26, 64),
    rgb(194, 27, 61),
    rgb(199, 48, 55),
    rgb(203, 69, 49),
    rgb(208, 90, 43),
    rgb(213, 111, 36),
    rgb(217, 132, 30),
    rgb(222, 153, 24)
  ); */

}

.night{
  background-image: linear-gradient(
    to bottom,
    rgb(15, 15, 15),
    rgb(16, 23, 23),
    rgb(18, 30, 31),
    rgb(19, 38, 40),
    rgb(21, 45, 48),
    rgb(22, 53, 56),
    rgb(20, 57, 61),
    rgb(18, 60, 66),
    rgb(17, 64, 72),
    rgb(15, 67, 77),
    rgb(13, 71, 82),
    rgb(11, 74, 87)
  );
}

.day{
    /* below 25c and clear */
  background-image: linear-gradient(
    to bottom,
    rgb(117, 129, 255),
    rgb(116, 135, 252),
    rgb(116, 140, 248),
    rgb(115, 146, 245),
    rgb(114, 152, 242),
    rgb(113, 158, 239),
    rgb(113, 163, 235),
    rgb(112, 169, 232),
    rgb(111, 175, 229),
    rgb(110, 181, 226),
    rgb(110, 186, 222),
    rgb(109, 192, 219)
  );
}

.storm{
  /* any tem and storm */
  /* background-image: linear-gradient(
    to bottom,
    rgb(55, 34, 191),
    rgb(67, 41, 197),
    rgb(79, 49, 203),
    rgb(90, 56, 210),
    rgb(102, 64, 216),
    rgb(114, 71, 222),
    rgb(124, 83, 201),
    rgb(134, 94, 179),
    rgb(144, 106, 158),
    rgb(153, 118, 137),
    rgb(163, 129, 115),
    rgb(173, 141, 94)
  ); */

}


.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  display: none;
}
/* main temp */
#main-content-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex-direction: column;
}

.location-n-feels-like-n-local-time {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}

#main-temp-container {
  position: relative;
  text-align: center;
}

#main-temp-container p {
  font-size: 4em;
  position: relative;
}

#main-temp-container p::after {
  content: "";
  border-radius: 100%;
  width: 8px;
  height: 8px;
  border: 2px solid;
  position: absolute;
}

/* city name */
#city-weather-container {
  position: relative;
}

#city-weather-container #weather-text {
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: 600;
}

#city-weather-container p:nth-of-type(2) {
  padding: 5px 0;
}

#city-weather-container #city-name {
  text-transform: uppercase;
  font-size: 1.5;
}

/* feels like temp */
#feels-like-container {
  position: relative;
}

#feels-like-container #feels-like-temp::after {
  content: "";
  width: 4px;
  height: 4px;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
}

#feels-like-container #feels-like-temp {
  font-size: 2em;
}

#feels-like-container #feels-like-text {
  font-size: 1em;
  text-transform: capitalize;
}

/* local date */
#local-date-container {
  position: relative;
}

#time {
  font-size: 1.3em;
  margin-bottom: 10px;
}

#week-day {
  font-size: 1em;
  text-transform: capitalize;
}

#local-date-container p:last-of-type {
  font-size: 0.65em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* input */
#input-section {
  width: 100%;
  display: flex;
}

#input-section input {
  background-color: #ffffff15;
  border: none;
  color: #fff;
  min-width: max-content;
  font-size: 1em;
  padding: 20px;
  width: 75%;
}

input::placeholder {
  color: #fff;
  letter-spacing: 1px;
}

input:focus,
button:focus {
  outline: none;
}

#input-section button {
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  background-color: rgba(250, 250, 250, 0.541);
  min-width: max-content;
  padding: 20px;
  width: 25%;
}

#input-section button:hover {
  background-color: rgba(244, 244, 244);
  cursor: pointer;
}

#input-section button:active {
  transform: scale(0.99);
}

/* WEATHER DETAILS */
#weather-details-container {
  min-height: max-content;
}

#weather-details-container h2 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

#weather-details-content {
  width: 100%;
  margin: 20px auto;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.weather-detail {
  text-align: center;
  width: 150px;
  padding: 20px;
}

.fetched-info {
  font-size: 2.5em;
  padding-bottom: 10px;
}

.detail-text {
  font-size: 1.4em;
  text-transform: capitalize;
}

#humidity::after {
  content: "%";
  font-size: 15px;
}
#pressure::after {
  content: "hpa";
  font-size: 15px;
}
#visibility::after {
  content: "+km";
  font-size: 15px;
}
#wind::after {
  content: "kph";
  font-size: 15px;
}
#min-temp::after {
  content: "";
  width: 4px;
  height: 4px;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
}
#max-temp::after {
  content: "";
  width: 4px;
  height: 4px;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
}

/* WEEK DAYS */
li {
  list-style-type: none;
}

#week-weather-container {
  width: 100%;
  position: relative;
  padding: 30px 0;
  margin: 20px 0;
}

#week-weather-container > p {
  position: absolute;
  top: 10px;
  font-size: 0.8em;
  left: 10px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

li {
  padding: 10px;
}

.fetched-value {
  font-size: 1.8em;
  text-align: center;
  padding-bottom: 10px;
}

.fetched-value::after {
  content: "";
  width: 4px;
  height: 4px;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
}

li p {
  text-transform: capitalize;
}

/* FOOTER */

footer {
  text-align: center;
}

footer p {
  font-size: 0.7em;
}

@media screen and (max-width: 468px) {
  #input-section button,
  #input-section input {
    width: 100%;
  }
  #input-section {
    flex-direction: column;
    gap: 5px;
  }
  .location-n-feels-like-n-local-time{
    flex-direction: column;
    align-items: center;
  }
}
