@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  color: #ececec;
  background-color: #272727;
  background-image: linear-gradient(
    300deg,
    rgb(64, 80, 255),
    rgb(76, 78, 245),
    rgb(89, 76, 235),
    rgb(101, 73, 224),
    rgb(114, 71, 214),
    rgb(126, 69, 204),
    rgb(139, 67, 194),
    rgb(151, 65, 184),
    rgb(164, 63, 174),
    rgb(176, 60, 163),
    rgb(189, 58, 153),
    rgb(201, 56, 143)
  );
  width: 100%;
  height: 100vh;
}

h1 {
  display: none;
}

#main-content-container {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 2fr;
  gap: 20px;
}

#main-temp-container {
  width: 100%;
  position: relative;
  text-align: center;
}

#main-temp-container p {
  font-size: 4em;
  position: relative;
}

#main-temp-container p::after {
  content: "";
  border-radius: 100%;
  width: 8px;
  height: 8px;
  border: 2px solid;
  position: absolute;
}

#city-weather-container {
  position: relative;
}

#city-weather-container #weather-text {
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: 600;
}

#city-weather-container p:nth-of-type(2) {
  padding: 5px 0;
}

#city-weather-container #city-name {
  text-transform: uppercase;
  font-size: 1.5;
}

#feels-like-container {
  position: relative;
}

#feels-like-container #feels-like-temp::after {
  content: "";
  width: 4px;
  height: 4px;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
}

#feels-like-container #feels-like-temp {
  font-size: 2em;
}

#feels-like-container #feels-like-text {
  font-size: 1em;
  text-transform: capitalize;
}

#local-date-container {
  position: relative;
}

#time {
  font-size: 1.3em;
  margin-bottom: 10px;
}

#week-day {
  font-size: 1em;
  text-transform: capitalize;
}

#local-date-container p:last-of-type {
  font-size: 0.65em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#weather-detail-button {
  background-color: #ffffff28;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

#weather-detail-button p {
  position: relative;
  font-size: 1.4em;
  text-transform: capitalize;
}

#weather-detail-button:hover {
  cursor: pointer;
  background-color: #ffffff28;
}

#weather-detail-button:active {
  transform: scale(0.99);
}

#input-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr;
  row-gap: 5px;
}

#input-section input {
  background-color: #ffffff28;
  border: none;
  padding-left: 20px;
  color: #fff;
  min-width: max-content;
  font-size: 1em;
}

input::placeholder {
  color: #fff;
  letter-spacing: 1px;
}

input:focus,
button:focus {
  outline: none;
}

#input-section button {
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  background-color: rgba(250, 250, 250, 0.541);
  min-width: max-content;
}

#input-section button:hover {
  background-color: rgba(244, 244, 244);
  cursor: pointer;
}

#input-section button:active {
  transform: scale(0.99);
}

/* WEATHER DETAILS */
#weather-details-container {
  transition: all 500ms;
  width: max-content;
  margin: 0 auto;
  min-height: max-content;
  padding: 20px;
  background-color: #ffffff28;
}

#weather-details-container h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  text-transform: capitalize;
}
#weather-details-container #exit-button {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 6px 6px 5px 6px;
  transition: all 300ms ease-in;
  border: 2px solid transparent;
}

#weather-details-container #exit-button:hover {
  cursor: pointer;
  border: 2px solid #fff;
}

#weather-details-container #weather-details-content {
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.weather-detail {
  text-align: center;
  padding: 20px;
}

.fetched-info {
  font-size: 2.5em;
  padding-bottom: 10px;
}

.detail-text {
  font-size: 1.4em;
  text-transform: capitalize;
}

#humidity::after {
  content: "%";
  font-size: 15px;
}
#pressure::after {
  content: "hpa";
  font-size: 15px;
}
#visibility::after {
  content: "+km";
  font-size: 15px;
}
#wind::after {
  content: "kph";
  font-size: 15px;
}
#min-temp::after {
  content: "";
  width: 4px;
  height: 4px;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
}
#max-temp::after {
  content: "";
  width: 4px;
  height: 4px;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
}

/* WEEK DAYS */
li {
  list-style-type: none;
}

#week-weather-container {
  width: 100%;
  position: relative;
  padding: 30px 0;
  background-color: #ffffff28;
  margin: 20px 0;
}

#week-weather-container > p {
  position: absolute;
  top: 10px;
  font-size: 0.8em;
  left: 10px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

li {
  padding: 10px;
}

.fetched-value {
  font-size: 1.8em;
  text-align: center;
  padding-bottom: 10px;
}

.fetched-value::after {
  content: "";
  width: 4px;
  height: 4px;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
}

li p {
  text-transform: capitalize;
}

/* ----------------------------------------------
  * Generated by Animista
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info.
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

/* ----------------------------------------------
  * Generated by Animista
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info.
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

.swing-out-top-bck {
  animation: swing-out-top-bck 0.7s ease-out both;
}

@keyframes swing-out-top-bck {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.scale-out-center {
  animation: scale-out-center 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
}

.hidden {
  display: none;
}

/* Media queries for iPads, Tablets and mobile*/
@media screen and (max-width: 968px) {
  body {
    height: 100%;
  }

  #main-content-container {
    padding: 20px;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
  }

  #weather-details-container {
    width: 100%;
  }

  #weather-detail-button {
    padding: 20px 0;
  }

  #input-section button {
    padding: 5px 0;
  }

  footer {
    position: static;
  }
}

@media screen and (max-width: 468px) {
  #weather-details-container #weather-details-content {
    grid-template-columns: 1fr;
  }
}
