$pirmary-text-color: #ffffff;
$secondary-text-color: #303030;
$pirmary-background-color: #272727;
$secondary-background-color: #b4b4b43f;
$thirdary-background-color: #242424;
$input-background-color: #ececec;
$active-button-background-color: #e0e0e0;

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box !important;

  body {
    color: $pirmary-text-color;
    background: url("../assets/image3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: $pirmary-background-color;
    width: 100%;
    height: 100vh;

    // Weather Info

    main {
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: -30px;
      // position: absolute;

      // Main Weather Info
      #main-content-container {
        backdrop-filter: blur(30px);
        padding: 10px;
        height: 120px;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 15%;

        div {
          width: 5em;
          height: 5em;
        }

        // MAIN TEMP

        #main-temp-container {
          position: relative;

          span.celcius {
            width: 12px;
            height: 12px;
            border: 3px solid;
          }

          p {
            font-size: 4em;
            height: 100%;
            text-align: center;
            padding-top: 0.2em;
          }
        }

        // CITY
        #city-weather-container {
          position: relative;

          #weather-text {
            text-transform: capitalize;
            font-size: 1em;
          }

          span {
            display: block;
            padding: 8px 0 0 0;
          }

          #city-name {
            font-size: 1.5;
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
          }
        }

        // FEELS LIKE
        #feels-like-container {
          position: relative;

          span.celcius {
            top: 5px;
            right: 10px;
          }

          #feels-like-temp {
            font-size: 1.8em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70%;
          }

          #feels-like-text {
            font-size: 1em;
            text-transform: capitalize;
            position: absolute;
            bottom: 0;
          }
        }

        // time stamp
        #local-date-container {
          position: relative;

          #time {
            font-size: 1.2em;
            display: block;
            margin-bottom: 10px;
          }

          #week-day {
            font-size: 1em;
            text-transform: capitalize;
          }
          p:last-of-type {
            font-size: 0.6em;
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
          }
        }

        // weather details BUTTON

        #weather-detail-button {
          background-color: $secondary-text-color;
          padding: 10px;
          position: relative;

          p {
            width: 4em;
            text-transform: capitalize;
            position: absolute;
            top: 1.3em;
          }

          &:hover {
            cursor: pointer;
            background-color: $thirdary-background-color;
          }

          &:active {
            transform: translate(1px, 1px);
          }
        }
      }

      // Side Weather Info
      #side-content-container {
        backdrop-filter: blur(30px);
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
        min-height: 100vh;

        // INPUT
        #input-section {
          margin-top: 20px;
          margin-left: 2.5%;
          margin-right: 2.5%;
          height: 35px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-evenly;

          input,
          button {
            background-color: $input-background-color;
            border: none;
            height: 100%;
            outline: $input-background-color;
          }

          input {
            width: 70%;
            padding: 9px 12px;
          }

          button {
            width: 20%;
            font-size: 0.8em;
            font-weight: 600;
            text-transform: uppercase;
            min-width: max-content;
            padding: 9px 12px;
            color: $secondary-text-color;
            cursor: pointer;

            &:hover {
              background-color: $active-button-background-color;
            }

            &:active {
              transform: scale(0.985);
            }
          }
        }

        // DEFAULT CITIES AND WEEK WEATHER
        #aside-content {
          backdrop-filter: blur(30px);
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          // DEFAULT CITIES
          #cities {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            ul {
              width: 90%;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-around;
              margin-top: 30px;

              li.default-city {
                padding-top: 20px;
                text-transform: uppercase;
                cursor: pointer;
                text-align: center;
                box-shadow: -1px 3px 5px 0 rgba(61, 61, 61, 0.5);
                transition: all 300ms ease-in-out;

                &:hover {
                  transform: translateX(-5px);
                }
              }
            }
          }

          // WEEK WEATHER
          #week-weather-container {
            display: flex;
            flex-direction: row;

            #week-weather-content {
              display: flex;

              ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 70px 4% 0;
                gap: 2%;
                height: 300px;
                width: 420px;

                // week weather elements
                li {
                  width: 100px;
                  height: 130px;
                  margin-bottom: 20px;
                  background-color: $pirmary-background-color;
                  position: relative;
                  display: flex;
                  flex-wrap: wrap;

                  .fetched-value-container {
                    position: relative;
                    width: 100%;

                    .fetched-value {
                      font-size: 3.5em;
                      // position: absolute;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 70%;
                    }

                    span {
                      position: absolute;
                      top: 0.5em;
                      right: 0.5em;
                      width: 10px;
                      height: 10px;
                      border: 2px solid;
                      border-radius: 100%;
                    }
                  }

                  p {
                    width: 100%;
                    height: 2.5em;
                    font-size: 1em;
                    text-transform: capitalize;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    #weather-details-container {
      position: absolute;
      top: 16em;
      left: 20%;
      width: 40em;
      height: 25em;
      transition: all 500ms;

      background-color: $secondary-background-color;

      h2 {
        text-align: center;
        margin-top: 1em;
        text-transform: capitalize;
      }

      #exit-button {
        position: absolute;
        top: 1em;
        right: 1em;
        padding: 5px;
        transition: all 500ms;

        &:hover {
          cursor: pointer;
          background-color: $secondary-text-color;
        }

        &:active {
          transform: scale(0.8);
          background-color: $pirmary-background-color;
        }
      }

      #weather-details-content {
        margin: 2em 0;
        color: $pirmary-text-color;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 7%;
        flex-wrap: wrap;

        .weather-detail {
          position: relative;
          width: 8em;
          height: 8em;
          margin-bottom: 2em;
          background-color: $thirdary-background-color;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-bottom: 1em;

          .fetched-info {
            font-size: 2em;
            text-align: center;
            margin-top: 0.5em;
          }

          .unit {
            // position: absolute;
            display: block;
            text-align: center;
            top: 1.8em;
            right: 0.3em;
            font-size: 1.2em;
            color: $active-button-background-color;

            &.humidity {
              position: absolute;
              top: 0.8em;
              right: 0.7em;
              font-size: 1.6em;
            }

            &.celcius {
              top: 0.5em;
              right: 2em;
            }
          }

          .detail-text {
            text-align: center;
            text-transform: capitalize;
            font-size: 1.2em;
          }
        }
      }
    }

    // CECLIUS sign
    .celcius {
      width: 8px;
      height: 8px;
      border: 2px solid;
      border-radius: 100%;
      position: absolute;
      right: 0;
    }

    .hidden {
      display: none;
    }

    li {
      list-style-type: none;
    }
  }
}

.default-city {
  padding: 7px 0;
  width: 45%;
  height: 50%;
  margin-bottom: 5%;
  min-width: max-content;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-23 19:9:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2021-4-23 19:33:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-out-top-bck
 * ----------------------------------------
 */
 @keyframes swing-out-top-bck {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
}


.swing-out-top-bck {
	animation: swing-out-top-bck 0.7s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-23 19:16:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
 @keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}


.scale-out-center {
  animation: scale-out-center 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

footer {
  position: absolute;
  height: 30px;

  p {
    font-size: 0.8em;
    padding-bottom: 10px;
  }
}

/* Media queries for Small screens, laptops: 769px — 1024px*/
@media screen and (min-width: 769px) and (max-width: 1044px) {

}

/* Media queries for iPads, Tablets: 481px — 768px*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

/* Media queries for XS Mobile devices: 320px — 480px*/
@media screen and (max-width: 320px) {
  .desktop-only {
    display: none;
  }
}

/*Media queries for  Print */
@media print {
  * {
    color: #333;
  }

  body {
    background-color: white;
  }

  input,
  button,
  #cities {
    display: none;
  }
}
