@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

* body {
  color: #ffffff;
  background-color: #303030;
  background: url("../assets/image1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

* body main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

* body main #main-content-container {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  padding: 10px;
  height: 120px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body main #main-content-container div {
  width: 5em;
  height: 5em;
  border: 1px solid #242424;
}

* body main #main-content-container #weather-detail-button {
  background-color: #303030;
  padding: 10px;
  position: relative;
}

* body main #main-content-container #weather-detail-button p {
  width: 4em;
  text-transform: capitalize;
  position: absolute;
  top: 1.3em;
}

* body main #main-content-container #weather-detail-button:hover {
  cursor: pointer;
  background-color: #242424;
}

* body main #main-content-container #weather-detail-button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

* body main #side-content-container {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  min-height: 100%;
}

.hidden {
  display: none;
}

li {
  list-style-type: none;
}

.default-city {
  text-transform: uppercase;
  padding: 7px 0;
  cursor: pointer;
  width: 45%;
  height: 50%;
  text-align: center;
  -webkit-box-shadow: -1px 3px 5px 0 rgba(61, 61, 61, 0.5);
          box-shadow: -1px 3px 5px 0 rgba(61, 61, 61, 0.5);
  margin-bottom: 5%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

#humidity,
#presure,
#visibility,
#wind,
#min-temp,
#max-temp {
  width: 30%;
  height: 45%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  /* margin-left: 5%; */
  margin-bottom: 7px;
  padding-left: 3%;
  padding-right: 3%;
  -webkit-box-shadow: -1px 3px 5px 0 rgba(41, 41, 41, 0.5);
          box-shadow: -1px 3px 5px 0 rgba(41, 41, 41, 0.5);
  background-color: var(--inputTextColor);
  color: var(--inputBCKcolor);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#input-section {
  margin-top: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#input-section input, #input-section button {
  background-color: #ECECEC;
  border: none;
  height: 100%;
  outline: #ECECEC;
}

#input-section input {
  width: 70%;
  padding: 9px 12px;
}

#input-section button {
  width: 20%;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 9px 12px;
  color: #303030;
  cursor: pointer;
}

#input-section button:hover {
  background-color: #e0e0e0;
}

#input-section button:active {
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
}

footer {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer p {
  font-size: .8em;
  padding-right: 50%;
  padding-bottom: 10px;
}

.default-city:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

/* Media queries for Small screens, laptops: 769px — 1024px*/
/* Media queries for iPads, Tablets: 481px — 768px*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

/* Media queries for XS Mobile devices: 320px — 480px*/
@media screen and (max-width: 320px) {
  .desktop-only {
    display: none;
  }
}

/*Media queries for  Print */
@media print {
  * {
    color: #333;
  }
  body {
    background-color: white;
  }
  input,
  button,
  #cities {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */