/* main colors */
:root {
    --textColor: rgb(225, 225, 225);
    --inputBCKcolor: rgba(100, 100, 100, 0.5);
}

/* global selectors */
* {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    color: var(--textColor);
    /* position: relative; */
    background: url("./images/dominique-van-velsen-by-dominique-van-velsen-gorod-arkhite-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* main content */
#main_content {
    backdrop-filter: blur(30px);
    padding: 25px 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 10%;
}

.temp_unit {
    vertical-align: top;
    font-size: 15px;
}

/* side content */

#side_content {
    backdrop-filter: blur(30px);
    color: var(--textColor);
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
}

#input_section {
    position: relative;
    width: 100%;
}

input {
    background-color: var(--inputBCKcolor);
    color: var(--textColor);
    border: none;
    width: 60%;
    padding: 15px;
    margin: 5% 0% 10% 5%;
}
input:focus {
    filter: invert(180);
}

button {
    background-color: var(--inputBCKcolor);
    color: var(--textColor);
    width: 20%;
    padding: 15px;
    border: none;
    letter-spacing: 0.8px;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}
button:hover {
    filter: invert(180);
}

button:focus,
input:focus {
    outline-style: none;
}

#info {
    margin-top: 10px;
    margin-left: 5%;
}

.default_cities {
    text-transform: uppercase;
    padding: 7px 0;
    cursor: pointer;
    width: 100px;
}

#w_details {
    margin-top: 50px;
}
#weather_details {
    margin-bottom: 10px;
}
.w_details {
    padding: 15px 0;
}
/* media queries */
@media (max-width: 1200px) {
    input {
        width: 78%;
        margin: 5% 0 0 5%;
    }
    button {
        width: 100%;
        margin: 3% 0 0 5%;
        padding: 8px;
    }
    #main_content {
        font-size: smaller;
    }
    #info {
        margin-top: 30px;
    }
}

@media (max-width: 700px) {
    #main_content {
        width: 70%;
        flex-direction: column;
        display: block;
        width: 40%;
        bottom: 0%;
        padding-right: 40px;
        padding-left: 40px;
    }
    #main_content {
        padding: 5px 0;
    }
    button {
        margin-right: 10px;
        box-sizing: border-box;
    }
}

li {
    list-style-type: none;
}

/* footer */

footer {
    text-align: center;
    width: 70%;
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    font-size: small;
}

.hidden {
    display: none;
}
